      /* Footer */
      footer ul,
      #footer ul {
        list-style-type: none;
      }
      footer ul li,
      #footer ul li {
        display: inline;
      }
      footer nav,
      #footer nav {
        margin-bottom: 1em;
      }
      footer nav a,
      #footer nav a {
        text-decoration: none;
        padding: 0 0.5em;
      }
      /* No need for dotted border on buttons in Firefox */
      *::-moz-focus-inner {
        border: 0;
      }
